body {
    font-family: 'Raleway' , sans-serif ;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 , h2 {
    font-size: 22px;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover {
    transition: 0.3s;
}
/** HEADER **/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo {
    width: 120px;
}
.heberg-nav , .activities-nav {
    padding: 20px;
    padding-bottom: 0;
    padding-top: 15px;
}
.heberg-nav:hover, .activities-nav:hover {
    border-top: solid 5px #0065FC;
    color: #0065FC;
}

/** SECTION SEARCH **/

.section-search {
    margin: 0 30px;
    margin-top: 50px;
}
.section-search h2 {
    font-size: 17px;
    font-weight: normal;
    margin-top: 10px;
}
.form-container {
    display: flex;
    margin: 30px 0;
}
.search-bar {
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway' , sans-serif ;
    width: 40%;
    border: none;
    border-top: solid #F2F2F2 3px;
    border-bottom: solid #F2F2F2 3px;
    outline: none;
}
.submit-container , .localisation-btn {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
}
.localisation-btn:hover {
    color: #0065FC
}
.submit-container i:hover {
    color: black;
}
.submit-btn {
    height: 100%;
    width: 100%;
    background-color: #0065FC;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.submit-container span , .localisation-btn i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.localisation-btn {
    background: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.submit-container span i {
    color: white;
}
.filter-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.filter-container div {
    display: flex;
    align-items: center;
    font-weight: bold;
    border: #F2F2F2 3px solid;
    padding-right: 15px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-right: 30px;
    cursor: pointer;
}
.filter-container div:hover {
    background-color: #0065FC;
    color: white;
    transition: 0.3s;
}
.filter-container img {
    width: 40px;
    background: #DEEBFF;
    border-radius: 50%;
    padding: 8px;
}
.filter-container p {
    padding-left: 10px;
}
.search-info-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.search-info-container span i {
    color: #0065FC;
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #F2F2F2;
    margin-right: 10px;
}
.search-info-container p {
    font-size: 14px;
}

/** SECTION HEBERG **/

.hebergements {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
}
.section-heberg , .section-most-popular{
    width: 70%;
    background: #ececec;
    border-radius: 20px;
    margin: 30px 0;
    padding-bottom: 20px;
}
.section-most-popular {
    width: 27%;
}
.section-heberg h2 , .section-most-popular h2 {
    padding: 30px;
    padding-bottom: 10px;
}
.container-heberg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.container-most-popular {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-heberg a , .container-most-popular a{
    width: 27%;
    height: 210px;
    border-radius: 30px;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px 1px rgb(216, 216, 216);
}
.container-most-popular a {
    width: 85%;
    display: flex;
    height: 150px;
    box-shadow: 5px 5px 10px 1px rgb(216, 216, 216);
}
.container-heberg a:hover , .container-most-popular a:hover, .container1 a:hover{
    transform: scale(1.03);
}
.container-heberg img , .container-most-popular img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.container-most-popular img {
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
}
.description-card {
    padding: 5px 10px;
}
.container-heberg p , .container-most-popular p{
    font-size: 14px;
    padding-top: 5px;
}
.container-heberg span , .container-most-popular span{
    font-weight: bold;
}
.container-heberg div, .container-most-popular div {
    margin-top: 5px;
}
.display-more {
    font-weight: bold;
    margin-left: 30px;
}
.display-more:hover {
    color: #0065FC;
}

/** SECTION ACTIVITES   **/

.activities-section h2 {
    margin-left: 30px;
}
.activities-section {
    margin: 30px 0;
}
.container1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.container1 a {
    width: 21%;
    margin: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px rgb(216, 216, 216);
}
.container1 a img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.container1 p {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    align-items: center;
}
.big-card1 , .big-card2 {
    height: 380px;
}
.medium-card {
    position: absolute;
    top: 43%;
}
.big-card img , .big-card2 img {
    height: 90%;
}
.big-card p, .big-card2 p {
    padding-top: 8px;
}
.medium-card , .medium-card2{
    height: 200px;
}
.medium-card img , .medium-card2 img{
    height: 82%;
}
.medium-card p , .medium-card2 p{
    padding-top: 8px;
}
.small-card , .small-card2{
    height: 140px;
}
.small-card2 {
    position: absolute;
    top: 57%;
    left: 50%;
}
.small-card img, .small-card2 img {
    height: 75%;
}
.small-card p, .small-card2 p {
    padding-top: 5px;
}

/**  FOOTER  **/

footer {
    background-color: #ececec;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
footer h3 {
    margin-bottom: 20px;
}
footer ul {
    line-height: 30px;
    list-style: none;
}
footer ul li:hover {
    color: #0065FC;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: underline;
}
